apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: notifications
  name: notifications
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
      - image: asia-south1-docker.pkg.dev/sleepr-479616/notifications/production
        name: notifications
        env:
          - name: PORT
            value: "3000"
        ports:
          - containerPort: 3000

